<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="style/arena.css">
    <link type="text/css" rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-brand"><%= title %></div>
			
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="container">
		<div class="row">
		    <div class="span4">
				<textarea rows=5 cols=50 id="sub-content"></textarea><br/>
				<button id="post-button">POST</button>
				<button id="get-button">GET</button>
				<button id="delete-button">DELETE</button>
			</div>
		    <div class="span8" id="neo-output">
		    </div>
	    </div>
	</div>
    <script type="text/javascript" src="vendor/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="script/index.js"></script>
</body>
</html>
